body
{
    margin:0;
    padding:0;
    background-color:rgba(15, 114, 164, 0.3);
}
.content
{
    max-width:800px;
    margin:0 auto;
    padding:20px;
    /* background-color:aquamarine; */
    text-align:center;
}

main
{
max-width:300px;
margin:200 auto;
padding:100px;
background-color:yellowgreen;
text-align:justify;
}

.container
{
    background-color:rebeccapurple;
    max-width:200px;
    margin:0;
    padding:0;
    align-content: center;
}